apiVersion: v1
kind: Secret
metadata:
  name: netbox-api-token
  namespace: fabric-dc2
type: Opaque
stringData:
  apiToken: "<YOUR_NETBOX_API_TOKEN>"
---
apiVersion: v1
kind: Secret
metadata:
  name: netbox-webhook-signature
  namespace: fabric-dc2
type: Opaque
stringData:
  signatureKey: "<UNIQUE_WEBHOOK_SECRET_PER_NAMESPACE>"
